<div class="">
<%= form_for([@post, @post.comments.build]) do |f| %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :commenter %>
  </div>
  <div class="field" class="span12">
    <%= f.label :Comment %><br />
    <%= f.text_area :body, class:"span12"%>
  </div>
  <div class="actions">
    <%= f.submit "ADD A COMMENT", class: "btn" %>
  </div>
<% end %>