<% @post.tags.build %>
<%= form_for(@post) do |post_form| %>
  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 <table>
  <tr>
    <td> <h4>Author's e-mail </h4> </td>
    <td>  <%= post_form.text_field :email %></td>
  </tr>
  <tr>
    <td> <h4>Name</h4> </td>
    <td> <%= post_form.text_field :name %></td>
  </tr>
  <tr>
    <td> <h4>Title</h4> </td>
    <td>  <%= post_form.text_field :title %></td>
  </tr>
  <tr>
    <td> <h4>Are comments allowed? </h4> </td>
    <td> <%= check_box "post", "open"%></td>
  </tr>
  </table>
  <div class="field" class="span12">
    <%= post_form.text_area :content, :class => 'span12'%>
  </div>
  <h2>tags</h2>
  <%= render :partial => 'tags/form',
             :locals => {:form => post_form} %>
  <div class="actions">
  </div>
    <%= post_form.submit class: "btn btn-large" %>
<% end %>