<%= link_to 'Create a new post', new_post_path, class: "btn btn-large btn-block"%>

<table class="span12">
<% @posts.each do |post| %>
    <tr><td><h1><%= link_to post.name, post %></h1></td>
    <td>by <%= post.name %></td></tr>
<% end %>
</table>
