<p id="notice"><%= notice %></p>
 
<p>
  <h3><%= @post.title %></h3>
</p>
 
<p>
  <div class="span12"><%= @post.content%></div>
</p>

<p>
  <b>by </b>
  <div ><%= @post.name%></div>
  <div ><%= @post.created_at%></div>
</p>
 
<p>
  <%= join_tags(@post) %>
</p>

<h2>Comments</h2>
<%= render @post.comments %>

<% if @post.open? %>
	<%= render "comments/form"%>
<% end %>
 
<%= link_to 'Edit Post', edit_post_path(@post) %>